#gamecontainer {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1250px;
  height: 700px;
  background: url(../img/minecraft-bg.jpg);
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
}

.gamelayer {
  width: 640px;
  height: 480px;
  position: absolute;
  display: none;
}

#gamestartscreen {
  padding-top: 250px;
  text-align: center;
}


.btn-minecraft,
input[type=text] {
  background: #727272;
  color: rgb(247, 247, 247);
  width: 100%;
  padding: .5rem 0;
  margin-bottom: .75rem;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  letter-spacing: .025em;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
    inset -3px -3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 50%;
}

.btn-minecraft:hover {
  background: rgba(115, 107, 221, 1);
}

input[type=text]:hover {
  background: rgba(115, 107, 221, 1);

}

input[type=text]:focus {
  color: rgb(246, 246, 44);
  outline: none;
}

.btn-minecraft:focus {
  color: rgb(246, 246, 44);
  outline: none;
}